<div class="sw-cms-preview-netzp_blog6_detail">
    <div class="left">
        <div class="text-muted">01.01.2021</div>
        <h2>Blog post</h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
        </p>
    </div>

    <div class="right">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
    </div>
</div>

