<div class="sw-cms-preview-netzp_blog6">
    <div class="post">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
        <h3>Blog post</h3>
        <div class="meta">01.01.2021</div>
    </div>
    <div class="post">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
        <h3>Blog post</h3>
        <div class="meta">02.01.2021</div>
    </div>
    <div class="post">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
        <h3>Blog post</h3>
        <div class="meta">03.01.2021</div>
    </div>
</div>

