{% block sw_cms_preview_mainhattan_three_card %}
    <div class="sw-cms-preview-mainhattan-three-card-block">
        <div class="sw-cms-preview-mainhattan-three-card-block__heading">
            {{ $tc('sw-cms.elements.mainhattanThreeCard.defaults.heading') }}
        </div>

        <div class="sw-cms-preview-mainhattan-three-card-block__grid">
            <div
                v-for="(card, index) in cards"
                :key="index"
                class="sw-cms-preview-mainhattan-three-card-block__card"
            >
                <div class="sw-cms-preview-mainhattan-three-card-block__glow"></div>
                <img
                    class="sw-cms-preview-mainhattan-three-card-block__icon"
                    :src="card.imageUrl"
                    alt=""
                >
                <div class="sw-cms-preview-mainhattan-three-card-block__title"></div>
                <div class="sw-cms-preview-mainhattan-three-card-block__line"></div>
                <div class="sw-cms-preview-mainhattan-three-card-block__line sw-cms-preview-mainhattan-three-card-block__line--short"></div>
                <div class="sw-cms-preview-mainhattan-three-card-block__button"></div>
            </div>
        </div>
    </div>
{% endblock %}
