<div class="sw-cms-el-preview-netzp-blog6-detail">
    <div class="left">
        <div class="text-muted">28.03.2020</div>
        <h2>Blog post</h2>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
        </p>
    </div>

    <div class="right">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
    </div>
</div>