{% block blog_content_post_inner_author %}
<div class="card-text">
    {% if config.showauthor and (post.author.translated.name and (post.author.translated.bio or post.author.image)) %}
        <div class="author">
            <div class="name">
                {{ "netzp.blog.author"|trans }}
                {% if post.author.link %}
                    <a href="{{ post.author.link }}" {% if post.author.link[-1:] == '#' %}target="_blank"{% endif %}>
                {% endif %}
                <b>{{ post.author.translated.name }}</b>
                {% if post.author.link %}
                    </a>
                {% endif %}
            </div>
            {% if(post.author.image) %}
                {% sw_thumbnails 'blog-author-image-thumbnail' with {
                    media: post.author.image,
                    sizes: {
                        'default': '200px'
                    },
                    attributes: {
                        'class': 'avatar',
                        'alt':   post.author.image.translated.alt ?: '',
                        'title': post.author.translated.name ?: ''
                    }
            } %}
            {% endif %}
            {% if(post.author.translated.bio) %}
                <div class="bio">{{ post.author.translated.bio|raw }}</div>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
