{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main_container %}
<div class="container-main netzp-blog6-post">
    {% block cms_breadcrumb %}
        {% sw_include "@Storefront/storefront/page/blog/_breadcrumb.html.twig" %}
    {% endblock %}

    {% block blog_content %}
        {% block blog_content_post %}
            {% if post %}
                {% block blog_content_post_inner %}
                    {% if config.layoutdetail == 'largeimage' or config.layoutdetail == 'largeimagecontain' %}
                        {% sw_include "@Storefront/storefront/page/blog/post-image-large.html.twig" %}
                    {% else %}
                        {% sw_include "@Storefront/storefront/page/blog/post-image-small.html.twig" %}
                    {% endif %}
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block blog_content_social %}
            {% if(netzpShariffActive and config('NetzpShariff6.config.showPage')) %}
                {% sw_include "@Storefront/storefront/shariff-blog.html.twig" %}
            {% endif %}
        {% endblock %}

        {% block blog_content_media %}
            {% sw_include "@Storefront/storefront/page/blog/post-media.html.twig" with { post: post } %}
        {% endblock %}

        {% block blog_content_products %}
            {% sw_include "@Storefront/storefront/page/blog/post-products.html.twig" %}
        {% endblock %}
    {% endblock %}
</div>
{% endblock %}


