<div class="sw-cms-el-preview-mainhattan-three-card">
    <div class="sw-cms-el-preview-mainhattan-three-card__heading">
        Heading.
    </div>

    <div class="sw-cms-el-preview-mainhattan-three-card__grid">
        <div
            v-for="cardIndex in 3"
            :key="cardIndex"
            class="sw-cms-el-preview-mainhattan-three-card__card"
        >
            <div class="sw-cms-el-preview-mainhattan-three-card__icon"></div>
            <div class="sw-cms-el-preview-mainhattan-three-card__title"></div>
            <div class="sw-cms-el-preview-mainhattan-three-card__line"></div>
            <div class="sw-cms-el-preview-mainhattan-three-card__line sw-cms-el-preview-mainhattan-three-card__line--short"></div>
            <div class="sw-cms-el-preview-mainhattan-three-card__button"></div>
        </div>
    </div>
</div>
