<div class="sw-cms-el-preview-mainhattan-three-card">
    <div class="sw-cms-el-preview-mainhattan-three-card__heading">
        {{ $tc('sw-cms.elements.mainhattanThreeCard.defaults.heading') }}
    </div>

    <div class="sw-cms-el-preview-mainhattan-three-card__grid">
        <div
            v-for="(card, index) in cards"
            :key="index"
            class="sw-cms-el-preview-mainhattan-three-card__card"
        >
            <div class="sw-cms-el-preview-mainhattan-three-card__glow"></div>
            <img
                class="sw-cms-el-preview-mainhattan-three-card__icon"
                :src="card.imageUrl"
                alt=""
            >
            <div class="sw-cms-el-preview-mainhattan-three-card__title"></div>
            <div class="sw-cms-el-preview-mainhattan-three-card__line"></div>
            <div class="sw-cms-el-preview-mainhattan-three-card__line sw-cms-el-preview-mainhattan-three-card__line--short"></div>
            <div class="sw-cms-el-preview-mainhattan-three-card__button"></div>
        </div>
    </div>
</div>
